
.container,
.header,
.footer {
    display:flex;
    flex-direction: column;
}

.header,
.footer {
    align-items: center;
}

.container {
    width: calc(100vw - var(--scrollbar));
    margin: auto;
}

.header {
    width: calc(100vw - var(--scrollbar));
    height: 100vh;
}

.footer {
    display: flex;
    width: calc(100vw - var(--scrollbar));
}

.main-menu {
    display: none;

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        display: block;
    }
}

.main-menu,
.main-menu__toggle {
    align-self: flex-end;
}

.main-menu__toggle,
.main-menu__list {
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.main-menu__toggle {
    width: 25px;

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        display: none;
    }
}
.main-menu__list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.main-menu__item {
    padding: 1em;
}

.main-menu__link::after,
.main-menu__link--current::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
}

.main-menu__link {
    position: relative;

    &::after {
        transition: width .2s ease-in-out;
    }

    .main-menu__item:hover &::after {
        width: 100%;
    }
}

.main-menu__link--current {

    &::after {
        width: 100%;
    }
}

.starbone-logo {
    width: 65%;
    padding-bottom: 3em;
}

.download-game-button {
    padding: .7em 1.2em;
    position: relative;

    &::after {
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
        top: 4px;
        left: 10px;
    }
}

.header-title {
    margin-bottom: 2em;
}

// [class^= 'section-main__image'] {
//     width: 100%;
//     height: 220px;
//     display: block;

// }

// @for $i from 1 through length($images) {
//     .section-main__image-#{$i}, .section-main {

//         @media screen and (min-width: map-get($breakpoints, medium)) {
//             height: 320px;
//         }

//         @media screen and (min-width: map-get($breakpoints, large)) {
//             height: 420px;
//         }

//         @media screen and (min-width: map-get($breakpoints, xlarge)) {
//             height: 100vh;
//         }
//     }
// }

.section-video,
.section-main,
.section-main-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        position: relative;
    }
}

.section-video__content {
    width: 90%;
    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        position: absolute;
        width: 60%;
    }
}

.section-video__thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    margin: 50px auto;
}

.section-video__play {
    width: 70px;
    height: 70px;
}

[class^= 'section-main__wrap-text'] {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 80%;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        position: absolute;
        width: 50%;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@for $i from 1 through 4 {
    .section-main__wrap-text-#{$i} {
        @media screen and (min-width: map-get($breakpoints, medium)) {
            @if $i % 2 == 0 {
                align-self: flex-start;
            } @else {
                align-self: flex-end;
            }
        }
    }
}

.section-main-end {
    width: 100%;
    padding-bottom: 5em;
    position: relative;
    
    &::before,
    &::after {
        content: '';
        display: block;
        top: 0;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    
    &::after {
        top: 100%;
    }

    @media screen and (min-width: map-get($breakpoints, medium)) {
        padding-bottom: 0;
    }
}

.section-title {
    margin-bottom: 2em;
}

.footer {
    padding: 3em 0 2em;
}

.footer-section__list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.footer-section__list-link {
    padding: 1em;
}

.social-media__list {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

[class^="social-media__list-img"] {
    width: 25px;
    height: 25px;
    margin: .7em;
}

.authors,
.copyright {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 1em;
    margin-bottom: 1em;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        width: initial;
    }
}

.authors__flag {
    width: 28%;
}


