
- 
    let starboneLogo = {
        img: 'https://res.cloudinary.com/leonemil/image/upload/v1576926073/Starbone/logo.png',
        alt: 'Starbone',
        class: 'starbone-logo',
    }

    let menuButton = {
        img: 'https://res.cloudinary.com/leonemil/image/upload/v1577047169/Starbone/menu-button.svg',
        class: 'main-menu__toggle',
    }