block config
  include _variables
  include _images
doctype html
html(lang="en_US")
  head
    title=pageTitle
    meta(charset="utf-8")
    meta(name="description" content=description)
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(property="og:locale" content="en_US")
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=description)
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://starborne.com/")
    meta(property="og:site_name" content="Starborne Sovereign Space")
    meta(property="og:image" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage-1024x445.jpg")
    meta(property="og:image:secure_url" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage-1024x445.jpg")
    meta(property="og:image:width" content="1024")
    meta(property="og:image:height" content="445")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=pageTitle)
    meta(name="twitter:description" content=description)
    meta(name="twitter:site" content="@starbornegame")
    meta(name="twitter:creator" content="@starbornegame")
    meta(name="twitter:image" content="https://starborne.com/wp-content/uploads/2018/03/CoverImage.jpg")
    link(rel="icon" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=32%2C32&#038;quality=80&#038;strip=all&#038;ssl=1" sizes="32x32")
    link(rel="icon" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=192%2C192&#038;quality=80&#038;strip=all&#038;ssl=1" sizes="192x192")
    link(rel="apple-touch-icon-precomposed" href="https://i0.wp.com/starborne.com/wp-content/uploads/2018/10/cropped-starborne-favicon.png?fit=180%2C180&#038;quality=80&#038;strip=all&#038;ssl=1")
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="style.css")
 
  body
    .container
      block header
      block main
      block footer

    script(src="script.js" type="module")