- let pageTitle = 'Starborne | MMO Space Strategy Game | Play Free Now'
- let description = 'Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.'

- let currentPage = 'Home'

- 
  let pages = [
    {
      title: "Home",
      url: "#",
      class: "main-menu__link--current"
    },
    {
      title: "News",
      url: "#",
      class: "main-menu__link--current"
    },
    {
      title: "Media",
      url: "#",
      class: "main-menu__link--current"
    },
    {
      title: "Guides",
      url: "#",
      class: "main-menu__link--current"
    },
    {
      title: "Register",
      url: "https://sba.starborne.com/register",
      class: "main-menu__link--current"
    },
  ]

-
    let sections = [
        {
          title: 'Build An Empire',
          text: 'Starting with only a small space station and a handful of resources, you must develop your buildings and raise fleets to secure your borders. Launch raids, discover missions and colonize planets to fuel your expansion into the new frontier.',
        },
        {
          title: 'Define Your Playstyle',
          text: 'Command fleets on the frontlines, sabotage enemies through covert operations or become the industrial backbone of your alliance. Choose from 6 distinct specializations, each with its own unique abilities and gameplay benefits.',
        },
        {
          title: 'Crush Your Enemies',
          text: 'Outmaneuver, outgun and outwit your opponents in massive cross-map battles. Optimized fleet compositions, precise timing and coordination with your allies are the key to mastering galactic warfare.',
        },
        {
          title: 'Shape The Galaxy',
          text: 'The diplomatic landscape in Starborne is ruthless, and you must use all the tools at your disposal to secure peace, manipulate your rivals and hold your allies together. Do you have what it takes to lead your alliance to victory?',
        },
    ]

- 
    let socialMedia = [
      {
        title: "Youtube",
        description: "Youtube",
        class: "youtube",
        url: "https://www.youtube.com/channel/UCC1AucDLTQX7h9bry6Akm1w",
      },
      {
        title: "Board",
        description: "Board",
        class: "board",
        url: "http://starborne.boards.net/",
      },
      {
        title: "Discord",
        description: "Discord",
        class: "discord",
        url: "https://discord.gg/starborne",
      },
      {
        title: "Reddit",
        description: "Reddit",
        class: "reddit",
        url: "https://www.reddit.com/r/starbornegame",
      },
      {
        title: "Facebook",
        description: "Facebook",
        class: "facebook",
        url: "https://www.facebook.com/starbornegame/",
      },
      {
        title: "Twitter",
        description: "Twitter",
        class: "twitter",
        url: "https://twitter.com/starbornegame",
      },
      {
        title: "Twitch",
        description: "Twitch",
        class: "twich",
        url: "https://www.twitch.tv/starbornestreams",
      },
    ]