extends ../config/_template
append config
  - pageTitle = 'Starborne | MMO Space Strategy Game | Play Free Now'
  - description = 'Starborne is a free PC Space MMORTS game set in a rich Sci-Fi world. Build and expand your empire, fight and forge alliances on a huge seamless strategic map.'

block header
    header.header
      include ../includes/_menu
      img(src=starboneLogo.img, alt=starboneLogo.alt, class=starboneLogo.class)
      h1.header-title Starbone Alpha is Live!
      a(href="https://sba.starborne.com/register" class= 'download-game-button') Play free now

block main
    main.main
        section.section-video
            .section-video__image
            .section-video__content
                .section-video__wrap-text
                    h2 Strategy Redefined
                    p Starborne is the definitive MMORTS for PC. Play for free alongside thousands of other players and grow your empire as you conquer distant galaxies. Will your name stand the test of time, or forever fade away into the dark?
                .section-video__thumbnail
                    .section-video__play
        - let counter = 1
        each section in sections
            .section-main
                div(class= `section-main__image-${counter}`)
                div(class= `section-main__wrap-text-${counter}`)
                    h2=section.title
                    p=section.text
            - counter ++
        .section-main.section-main-end
            .section-main__image.section-main-end__image
            .section-main__wrap-text
                h2.section-title Starbone Alpha is Live!
                a(href="https://sba.starborne.com/register" class= 'download-game-button') Play free now
block footer
    include ../includes/_footer