
.main-menu__toggle {
    cursor: pointer;
}

.download-game-button {
    border: 2px solid #4bb0f8;

    &::after {
        background-image: url($windows-logo);
        background-size: cover;
    }
}

// [class^= 'section-main__image'] {
//     background-size: cover;    
// }

// @for $i from 1 through length($images) {
//     .section-main__image-#{$i} {
//         background-image: url(map-get(nth($images, $i), small));

//         @media screen and (min-width: map-get($breakpoints, medium)) {
//             background-image: url(map-get(nth($images, $i), medium));
//         }

//         @media screen and (min-width: map-get($breakpoints, large)) {
//             background-image: url(map-get(nth($images, $i), large));
//         }

//         @media screen and (min-width: map-get($breakpoints, xlarge)) {
//             background-image: url(map-get(nth($images, $i), xlarge));
//         }
//     }
// }

.section-video__image {
    @include section-main__image($recon3, red, 100vh);
}

.section-video__thumbnail {
    background-image: url(map-get($offense1, small));
    border: 1px solid blue;
    cursor: pointer;
    filter: contrast(1.1);
    transition: filter .1s;

    &:hover {
        filter: contrast(1.2);
    }
}

.section-video__play {
    background-image: url($play-button);
}

@for $i from 1 through length($images) {
    .section-main__image-#{$i} {
        @include section-main__image(nth($images, $i), nth($colors, $i), 600px);
    }
}

.section-main-end {
    &::before,
    &::after {
        background-image: linear-gradient(to right, transparent, yellow, transparent);
    }
}

.section-main-end__image {
    @include section-main__image($offense1, red, 600px);
}

.social-media__list-img {
    background-size: cover;
}

.youtube {
    background-image: url($youtube-logo);
}

.board {
    background-image: url($board-logo);
}

.discord {
    background-image: url($discord-logo);
}

.reddit {
    background-image: url($reddit-logo);
}

.facebook {
    background-image: url($facebook-logo);
}

.twitter {
    background-image: url($twitter-logo);
}

.twitch {
    background-image: url($twitch-logo);
}

.authors__flag {
    background-image: url($eu-flag);
    background-size: contain;
    background-repeat: no-repeat;
}