
.footer {
    background-color: $background-footer;
}

.main-menu__link {
    color: $text-white;
    
    &:hover {
        color: $current-page-link;
    }
    
    &::after {
        content: '';
        background-color: $current-page-link;
    }
}

.main-menu__link--current {
    color: $current-page-link;
}

.download-game-button {
    color: white;
    background-color: $download-button;

    &:hover {
        background-color: darken($download-button, 5);
    }
}

.footer-section__list-link {
    color: inherit;

    &:hover {
        color: $current-page-link;
    }
}

.copyright__text,
.authors__text {
    color: $text-gray;
}

.copyright__link {
    color: $text-white;

    &:hover {
        color: $text-gray;
    }
}