

.container {
    font-family: $font-family;
    text-align: center;
}

.main-menu__item {
    list-style: none;
}

.main-menu__link {
    font-weight: bold;
    text-decoration: none;
}

.header-title {
    font-size: 3rem;
}

.download-game-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

.section-video__content,
[class^= 'section-main__wrap-text'] {
    font-size: 1em;
    text-shadow: 1px 1px 2px black;

    @media screen and (min-width: map-get($breakpoints, medium)) {
        font-size: 1.4em;
    }
}

.footer-section__list-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
}

.social-media__list {
    list-style: none;
}

.copyright__link {
    text-decoration: none;
}