/*
  This boilerplate is based in ITCSS and SMACSS
*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  min-height: 100vh;
  color: white;
  background-color: black;
}

header {
  width: 80%;
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: 'Titillium Web', sans-serif;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container,
.header,
.footer {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  align-items: center;
}

.container {
  width: calc(100vw - var(--scrollbar));
  margin: auto;
}

.header {
  width: calc(100vw - var(--scrollbar));
  height: 100vh;
}

.footer {
  display: flex;
  width: calc(100vw - var(--scrollbar));
}

.main-menu {
  display: none;
}

@media screen and (min-width: 1200px) {
  .main-menu {
    display: block;
  }
}

.main-menu,
.main-menu__toggle {
  align-self: flex-end;
}

.main-menu__toggle,
.main-menu__list {
  margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.main-menu__toggle {
  width: 25px;
}

@media screen and (min-width: 1200px) {
  .main-menu__toggle {
    display: none;
  }
}

.main-menu__list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.main-menu__item {
  padding: 1em;
}

.main-menu__link::after,
.main-menu__link--current::after {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
}

.main-menu__link {
  position: relative;
}

.main-menu__link::after {
  transition: width .2s ease-in-out;
}

.main-menu__item:hover .main-menu__link::after {
  width: 100%;
}

.main-menu__link--current::after {
  width: 100%;
}

.starbone-logo {
  width: 65%;
  padding-bottom: 3em;
}

.download-game-button {
  padding: .7em 1.2em;
  position: relative;
}

.download-game-button::after {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  top: 4px;
  left: 10px;
}

.header-title {
  margin-bottom: 2em;
}

.section-video,
.section-main,
.section-main-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .section-video,
  .section-main,
  .section-main-end {
    position: relative;
  }
}

.section-video__content {
  width: 90%;
}

@media screen and (min-width: 1200px) {
  .section-video__content {
    position: absolute;
    width: 60%;
  }
}

.section-video__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  min-height: 300px;
  margin: 50px auto;
}

.section-video__play {
  width: 70px;
  height: 70px;
}

[class^='section-main__wrap-text'] {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
}

@media screen and (min-width: 600px) {
  [class^='section-main__wrap-text'] {
    position: absolute;
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 600px) {
  .section-main__wrap-text-1 {
    align-self: flex-end;
  }
}

@media screen and (min-width: 600px) {
  .section-main__wrap-text-2 {
    align-self: flex-start;
  }
}

@media screen and (min-width: 600px) {
  .section-main__wrap-text-3 {
    align-self: flex-end;
  }
}

@media screen and (min-width: 600px) {
  .section-main__wrap-text-4 {
    align-self: flex-start;
  }
}

.section-main-end {
  width: 100%;
  padding-bottom: 5em;
  position: relative;
}

.section-main-end::before, .section-main-end::after {
  content: '';
  display: block;
  top: 0;
  position: absolute;
  width: 100%;
  height: 2px;
}

.section-main-end::after {
  top: 100%;
}

@media screen and (min-width: 600px) {
  .section-main-end {
    padding-bottom: 0;
  }
}

.section-title {
  margin-bottom: 2em;
}

.footer {
  padding: 3em 0 2em;
}

.footer-section__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer-section__list-link {
  padding: 1em;
}

.social-media__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

[class^="social-media__list-img"] {
  width: 25px;
  height: 25px;
  margin: .7em;
}

.authors,
.copyright {
  display: flex;
  justify-content: center;
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .authors,
  .copyright {
    width: initial;
  }
}

.authors__flag {
  width: 28%;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.screen-reader-focusable:focus,
.screen-reader-focusable:active {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
  clip-path: none;
}

.container {
  font-family: "Titillium Web", Verdana, Geneva, sans-serif;
  text-align: center;
}

.main-menu__item {
  list-style: none;
}

.main-menu__link {
  font-weight: bold;
  text-decoration: none;
}

.header-title {
  font-size: 3rem;
}

.download-game-button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
}

.section-video__content,
[class^='section-main__wrap-text'] {
  font-size: 1em;
  text-shadow: 1px 1px 2px black;
}

@media screen and (min-width: 600px) {
  .section-video__content,
  [class^='section-main__wrap-text'] {
    font-size: 1.4em;
  }
}

.footer-section__list-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
}

.social-media__list {
  list-style: none;
}

.copyright__link {
  text-decoration: none;
}

.footer {
  background-color: #0c1020;
}

.main-menu__link {
  color: white;
}

.main-menu__link:hover {
  color: #00b0ff;
}

.main-menu__link::after {
  content: '';
  background-color: #00b0ff;
}

.main-menu__link--current {
  color: #00b0ff;
}

.download-game-button {
  color: white;
  background-color: #0099ff;
}

.download-game-button:hover {
  background-color: #008ae6;
}

.footer-section__list-link {
  color: inherit;
}

.footer-section__list-link:hover {
  color: #00b0ff;
}

.copyright__text,
.authors__text {
  color: #c6c6c6;
}

.copyright__link {
  color: white;
}

.copyright__link:hover {
  color: #c6c6c6;
}

.main-menu__toggle {
  cursor: pointer;
}

.download-game-button {
  border: 2px solid #4bb0f8;
}

.download-game-button::after {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576972461/Starbone/windows-logo.svg");
  background-size: cover;
}

.section-video__image {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1577396533/Starbone/Recon3-w480.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-video__image {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1577396556/Starbone/Recon3-w2038.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-video__image {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1577396570/Starbone/Recon3-w3026.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-video__image {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1577396614/Starbone/Recon3-w3840.jpg");
  }
}

.section-video__image::before, .section-video__image::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, red, transparent);
}

.section-video__image::after {
  top: 100%;
}

.section-video__thumbnail {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926074/Starbone/Offense1-w600.jpg");
  border: 1px solid blue;
  cursor: pointer;
  filter: contrast(1.1);
  transition: filter .1s;
}

.section-video__thumbnail:hover {
  filter: contrast(1.2);
}

.section-video__play {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576972630/Starbone/play-button.svg");
}

.section-main__image-1 {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926076/Starbone/Offense2-w600.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-main__image-1 {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926092/Starbone/Offense2-w2057.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-main__image-1 {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926114/Starbone/Offense2-w3032.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-main__image-1 {
    height: 600px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense2-w3840.jpg");
  }
}

.section-main__image-1::before, .section-main__image-1::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, orange, transparent);
}

.section-main__image-1::after {
  top: 100%;
}

.section-main__image-2 {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926093/Starbone/Offense3-w600.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-main__image-2 {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense3-w2084.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-main__image-2 {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense3-w3041.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-main__image-2 {
    height: 600px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926152/Starbone/Offense3-w3840.jpg");
  }
}

.section-main__image-2::before, .section-main__image-2::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, purple, transparent);
}

.section-main__image-2::after {
  top: 100%;
}

.section-main__image-3 {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926117/Starbone/Offense4-w600.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-main__image-3 {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926131/Starbone/Offense4-w2059.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-main__image-3 {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926144/Starbone/Offense4-w3002.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-main__image-3 {
    height: 600px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926152/Starbone/Offense4-w3840.jpg");
  }
}

.section-main__image-3::before, .section-main__image-3::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, cyan, transparent);
}

.section-main__image-3::after {
  top: 100%;
}

.section-main__image-4 {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926121/Starbone/Recon2-w600.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-main__image-4 {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926139/Starbone/Recon2-w2065.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-main__image-4 {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926148/Starbone/Recon2-w3036.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-main__image-4 {
    height: 600px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926153/Starbone/Recon2-w3840.jpg");
  }
}

.section-main__image-4::before, .section-main__image-4::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, lime, transparent);
}

.section-main__image-4::after {
  top: 100%;
}

.section-main-end::before, .section-main-end::after {
  background-image: linear-gradient(to right, transparent, yellow, transparent);
}

.section-main-end__image {
  position: relative;
  width: 100%;
  height: 220px;
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926074/Starbone/Offense1-w600.jpg");
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 600px) {
  .section-main-end__image {
    height: 320px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926088/Starbone/Offense1-w2067.jpg");
  }
}

@media screen and (min-width: 992px) {
  .section-main-end__image {
    height: 420px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926119/Starbone/Offense1-w3016.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-main-end__image {
    height: 600px;
    background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926100/Starbone/Offense1-w3840.jpg");
  }
}

.section-main-end__image::before, .section-main-end__image::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, red, transparent);
}

.section-main-end__image::after {
  top: 100%;
}

.social-media__list-img {
  background-size: cover;
}

.youtube {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576966468/Starbone/youtube-logo.svg");
}

.board {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576966811/Starbone/board-logo.svg");
}

.discord {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576966986/Starbone/discord-logo.svg");
}

.reddit {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576967236/Starbone/reddit-logo.svg");
}

.facebook {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576967385/Starbone/facebook-logo.svg");
}

.twitter {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576967598/Starbone/twitter-logo.svg");
}

.twitch {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576968046/Starbone/twitch-logo.svg");
}

.authors__flag {
  background-image: url("https://res.cloudinary.com/leonemil/image/upload/v1576926140/Starbone/eu-flag.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=style.css.map */