footer.footer
        .footer-container
        .footer-section
            ul.footer-section__list
                li.footer-section__list-item
                    a(href="#" class="footer-section__list-link") Report a bug
                li.footer-section__list-item
                    a(href="#" class="footer-section__list-link") Terms of use
        .social-media
            ul.social-media__list
                each media in socialMedia
                    li.social-media__list-item
                        a.social-media__list-link(href= media.url)
                            div.social-media__list-img(class= media.class)
                            span.screen-reader.screen-reader-focusable= media.description
        .copyright
            p.copyright__text Solid Clouds ehf. Trademarks belong to their respective owners. All rights reserved © 2019 | <a href="https://wordpress.org/" class="copyright__link">Proudly powered by WordPress</a>
        .authors
            .authors__flag
            p.authors__text Co-funded by the Horizon 2020 programme of the European Union No. 868691.