

.main-menu__toggle
  img(src=menuButton.img class=menuButton.class)
nav.main-menu(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation")#main-menu
  ul.main-menu__list
    each page in pages
      li.main-menu__item(itemprop="url")
          if page.title === currentPage
            a.main-menu__link(href= page.url itemprop="name" class=page.class)= page.title.toUpperCase()
          else
            a.main-menu__link(href= page.url itemprop="name")= page.title.toUpperCase()
 
