

@mixin section-main__image($image, $color, $height) {
    position: relative;
    width: 100%;
    height: 220px;
    background-image: url(map-get($image, small));
    background-size: cover;
    background-position: center center;
    
    @media screen and (min-width: map-get($breakpoints, medium)) {
        height: 320px;
        background-image: url(map-get($image, medium));
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        height: 420px;
        background-image: url(map-get($image, large));
    }

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        height: $height;
        background-image: url(map-get($image, xlarge));
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, transparent, $color, transparent);
    }

    &::after {
        top: 100%;
    }
}