
$production: false !default;
$path: './public/images';

$font-family: 'Titillium Web', Verdana, Geneva, sans-serif;

$breakpoints: (
    small: 300px,
    medium: 600px,
    large: 992px,
    xlarge: 1200px,
);

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

// Colors of backgrounds and texts

$background-footer: rgba(12,16,32, 1.0);
$download-button: #0099ff;

$text-white: white;
$text-gray: #c6c6c6;
$current-page-link: #00b0ff;